<h1 class="title">Autores</h1>
<div class="authors">
  <% @authors.map do |author| %>
    <div class="author">
      <h3><%= author.name %></h3>
      <p><strong>id: </strong><%= author.id%></p>
      <img src="<%= image_path(author.image_url) %>" />
    </div>
  <%end%>
</div>
