<h1 class="title">Livros</h1>
<div class="books">
  <% @books.map do |book| %>
    <div class="book">
      <h3><%= book.title %></h3>
      <p><strong>id: </strong><%= book.id %></p>
      <img src="<%= image_path(book.image_url) %>" />
    </div>
  <%end%>
</div>
