<h1>Livro</h1>
<div style="list-style: none; display: flex; margin: 20px 20px 20px 20px; justify-content: center;">
  <h2><%= @book.title %></h2>
  <%= image_tag @book.book_cover, :size => "300x200" %>
  <p><%= @book.sinopsis %></p>
</div>
