<h1 class="title">Livro</h1>
  <div class="book-details">
    <div class="name-and-image">
      <h2><%= @book.title %></h2>
      <%= image_tag @book.book_cover, :size => "300x200" %>
    </div>
    <div class="sinopsis"><p><%= @book.sinopsis %></p></div>
  </div>
